---

---

<span>
  <h1>ENVÍOS A TODO EL PERÚ DIRECTAMENTE DESDE FABRICA</h1>
</span>

<style>
  span {
    /* max-width: 1440px; */
    padding: 0.8rem 1rem;
    display: block;
    background-color: var(--secondary);
    margin: auto;
    text-align: center;
  }

  h1 {
    font-size: 0.6rem;
    font-weight: 500;
    color: white;
    /* letter-spacing: 0.1rem; */

    @media (width > 1024px) {
	font-size: var(--fs-sm);
	width: ;
    }
  }
</style>
