---

---

<span>
  <p>ENVÍOS A TODO EL PERÚ DIRECTAMENTE DESDE FABRICA</p>
</span>

<style>
  span {
    padding: 0.8rem 1rem;
    display: block;
    background-color: var(--secondary);
    margin: auto;
    text-align: center;
  }

  p {
    font-size: 0.6rem;
    font-weight: 500;
    color: white;
    margin: 0;

    @media (width > 1024px) {
      font-size: var(--fs-sm);
    }
  }
</style>
