---
interface Props {
  name: string;
}

const { name } = Astro.props;
---

<section id={name}>
  <slot />
</section>

<style>
  section {
    max-width: 1400px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: auto;
  }
</style>
