---
interface Props {
  name: string;
}

const { name } = Astro.props;
---

<section id={name}>
  <slot />
</section>

<style>
  section {
    max-width: 1280px;
    padding-left: 2rem;
    padding-right: 2rem;
    margin: auto;
  }
</style>
