---
import Button from "@/components/Button.astro";
import Arrow from "@/assets/arrow-up.svg";
import Cart from "@/assets/cart.svg";
import { Image } from "astro:assets";
import Image1 from "@/assets/image1.webp";
import Image3 from "@/assets/image2.webp";
import Image2 from "@/assets/image4.webp";
---

<div class="container">
  <div class="container-title">
    <div class="texts">
      <h1>Fabricantes de Mobiliario de Alta Calidad en Chiclayo</h1>
      <p>
        <span>+30 años</span> creando muebles excepcionales con acabados perfectos
        y entregas puntuales.
      </p>
    </div>
    <div class="buttons">
      <Button href="mailto:contacto@stephanofer.com" type="secondary">
        <Cart slot="icon-left" />
        ¡Ultimos Proyectos!
      </Button>
      <Button href="mailto:contacto@stephanofer.com">
        <Arrow slot="icon-right" />
        ¡Diseño Personalizado!
      </Button>
    </div>
  </div>
  <div class="container-images">
    <div class="image-card top-left">
      <span class="badge badge-1">NUEVO</span>
      <Image
        src={Image1}
        alt="Silla gris con detalle naranja"
        width={1000}
        height={500}
        quality={100}
        loading="eager"
        fetchpriority="high"
      />
    </div>
    <div class="image-card top-right">
      <span class="badge badge-2">NUEVO</span>
      <Image
        src={Image2}
        alt="Silla gris con detalle naranja"
        width={1000}
        height={500}
        quality={100}
        loading="eager"
        fetchpriority="high"
      />
    </div>
    <div class="image-card bottom">
      <span class="badge badge-3">NUEVO</span>
      <Image
        src={Image3}
        class="especial"
        alt="Silla gris con detalle naranja"
        width={1000}
        height={500}
        quality={100}
        loading="eager"
        fetchpriority="high"
      />
    </div>
  </div>
</div>

<style>
  .container {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */

    /* height: calc(100dvh - 163.09px); */

    @media (width > 1024px) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      height: calc(100dvh - 163.09px);
    }
  }

  .container-title {
    display: flex;
    flex-direction: column;
    height: 70%;
    justify-content: start;
    margin-top: 3rem;
  }
  h1 {
    font-family: "Clash";
    font-weight: 500;
    font-size: var(--fs-lg);
    max-width: 18ch;
    text-align: center;

    @media (width > 1024px) {
      font-size: var(--fs-xxl);
      text-align: left;
    }
  }

  .texts {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (width > 1024px) {
      /* font-size: var(--fs-xxl); */
      align-items: start;
    }
  }

  p {
    max-width: 45ch;
    font-size: var(--fs-base);
    text-align: center;
    margin-top: 1.5rem;

    @media (width > 1024px) {
      margin-top: 3.5rem;
      font-size: var(--fs-md);
      text-align: left;
    }
  }
  span {
    font-weight: 600;
    color: var(--secondary);
  }

  .buttons {
    margin-top: 2.5rem;
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    justify-content: center;

    @media (width > 1024px) {
      margin-top: 5rem;
      gap: 1rem;
      flex-direction: row;
      justify-content: start;
    }
  }
  .container-images {
    /* align-self: center; */
    display: none;

    @media (width > 1024px) {
      display: grid;
      grid-template-areas:
        "top-left top-right"
        "bottom bottom";
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      gap: 1rem;
      max-height: 70%;
      max-width: 45%;
    }
  }

  .image-card {
    position: relative;
    border-radius: 0.75rem;
    overflow: hidden;
  }

  .top-left {
    grid-area: top-left;
  }

  .top-right {
    grid-area: top-right;
  }

  .bottom {
    grid-area: bottom;
  }

  .badge {
    position: absolute;
    top: 1rem;
    left: 1rem;
    padding: 0.25rem 0.75rem;
    border-radius: 1rem;
    font-family: "Clash";
    font-size: var(--fs-sm);
    font-weight: 550;
  }

  .badge-1 {
    background-color: rgb(227 240 250);
  }

  .badge-2 {
    background-color: rgb(232, 250, 227);
  }

  .badge-3 {
    background-color: rgb(250, 227, 249);
  }

  .image-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
</style>
