---
import MainHead from "@/components/MainHead.astro";
import { ClientRouter } from "astro:transitions";
import Footer from "@/components/Footer.astro";
import Navbar from "@/components/Navbar.astro";
import Announce from "@/components/Announce.astro";
import Experiencias from "@/sections/Experiencias.astro";
import "@/styles/global.css";

interface Props {
  title?: string;
  description?: string;
}

const { title = "Ebanos Muebles", description = "Descripción de la página" } =
  Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <style is:inline>
      @font-face {
        font-family: "Inter";
        font-style: normal;
        font-weight: 100 900;
        font-display: swap;
        src: url("/fonts/Inter.woff2") format("woff2");
      }

      @font-face {
        font-family: "Clash";
        font-style: normal;
        font-weight: 200 700;
        font-display: swap;
        src: url("/fonts/Clash.woff2") format("woff2");
      }

      *,
      *::after,
      *::before {
        box-sizing: border-box;
        margin: 0;
      }

      html,
      body {
        width: 100%;
        height: 100%;
        margin: 0;
        font-family:
          "Inter",
          ui-sans-serif,
          system-ui,
          -apple-system,
          BlinkMacSystemFont,
          "Segoe UI",
          Roboto,
          sans-serif;
      }
    </style>
    <MainHead title={title} description={description} />
    <ClientRouter />
  </head>
  <body>
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-KF6L4554"
        height="0"
        width="0"
        style="display:none;visibility:hidden"></iframe></noscript
    >
    <Announce />
    <Navbar />
    <slot />
    <Experiencias />
    <Footer />
  </body>
</html>
