---
import MainHead from "@/components/MainHead.astro";
import { ClientRouter } from "astro:transitions";
import Footer from "@/components/Footer.astro";
import Navbar from "@/components/Navbar.astro";
import Announce from "@/components/Announce.astro";

interface Props {
  title?: string;
  description?: string;
}

const { title = "Ebanos Muebles", description = "Descripción de la página" } =
  Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <MainHead title={title} description={description} />
    <ClientRouter />
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-KF6L4554"
        height="0"
        width="0"
        style="display:none;visibility:hidden"></iframe></noscript
    >
    <!-- End Google Tag Manager (noscript) -->
    <Announce />
    <Navbar />
    <slot />
    <Footer />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
